/* inicio.css */
#intro {
  text-align: center;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

/* Estilo para el cuerpo de la página */
body {
  /* Fondo con degradado */
  background: linear-gradient(to bottom, #ffffff, #e0e0e0); /* Cambia los colores de acuerdo a tus preferencias */
}

/* Estilo adicional para mejorar la apariencia */
#consejos {
  /* Asegúrate de que el contenido no se superponga al fondo */
  padding-top: 50px; /* Ajusta según sea necesario */
}

/* Estilo para los títulos de las secciones */
#consejos h2 {
  font-size: 24px; /* Tamaño de fuente */
  color: #333; /* Color del texto */
  margin-bottom: 15px; /* Margen inferior */
}

/* Estilo para los párrafos de los consejos */
#consejos p {
  font-size: 16px; /* Tamaño de fuente */
  color: #666; /* Color del texto */
  margin-bottom: 15px; /* Margen inferior */
}

/* Estilo para las listas de consejos */
#consejos ul {
  list-style-type: disc; /* Tipo de marcador */
  margin-left: 20px; /* Margen izquierdo */
  margin-bottom: 15px; /* Margen inferior */
}

/* Estilo para los elementos de lista de consejos */
#consejos li {
  font-size: 16px; /* Tamaño de fuente */
  color: #666; /* Color del texto */
  margin-bottom: 10px; /* Margen inferior */
}

/* Estilo para las imágenes de los consejos */
#consejos img {
  max-width: 100%; /* Ancho máximo */
  height: auto; /* Altura automática */
  margin-bottom: 15px; /* Margen inferior */
}

/* Estilo para los vídeos de los consejos */
#consejos video {
  max-width: 100%; /* Ancho máximo */
  height: auto; /* Altura automática */
  margin-bottom: 15px; /* Margen inferior */
}
